* {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

table {
  border-collapse: separate;
  margin: 2% auto;
}

th {
  background-color: #9a9ea5;
  color: #ffffff;
}

td {
  background-color: #f0f4f9;
}

td:first-child {
  background-color: #9a9ea5;
  color: #ffffff;
}

th,
td {
  border: 0.1rem solid #000000;
  padding: 1rem;
}

.center {
  text-align: center;
}

.space {
  background-color: #ffffff !important;
  border: none;
}

@media only screen and (max-width: 600px) {
  table {
    width: 100%;
  }
}
